

            /* P A R T E  1 */

        

article .part_1{
    display: flex;
    justify-content: center;
}

article .text_1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3.3125em;
    padding-bottom: 2em;
}


section .title{
    padding: 2em 0em 0em 2em;

}


section .title h1{
    font-size: 3.1875em;
    color: var(--color-pink);
}

section .title {
margin: 4.375em 0em 5.125em;
}

section .title p{
font-size: 1.25em;
}


article .text_1 h2{
    font-size: 2.1875em;
    color: var(--color-pink);
}

article .text_1 p{
   font-size: 1.125em;
}

article .text_1 a{
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    border-radius: 3.875em;
    background-color: var(--color-green);
    padding: 0.7em 2.3em;
}



            /* P A R T E  2 */

article .part_2{
    display: flex;
    justify-content: center;
}

article .text_2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3.3125em;
    padding-bottom: 2em;
}

article .text_2 h2{
    font-size: 2.1875em;
    color: var(--color-pink)
}

article .text_2 p{
    font-size: 1.125em;
}

article .text_2 a{
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    border-radius: 3.875em;
    background-color: var(--color-green);
    padding: 0.7em 2.3em;
}


            /* P A R T E  3 */

article .part_3{
    display: flex;
    justify-content: center;
    padding-bottom: 12.625em;
}

article .text_3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3.3125em;
    padding-bottom: 2em;
}

article .text_3 h2{
    font-size: 2.1875em;
    color: var(--color-pink)
}

article .text_3 p{
    font-size: 1.125em;
}

article .text_3 a{
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    border-radius: 3.875em;
    background-color: var(--color-green);
    padding: 0.7em 2.3em;
}

article a:hover{
    color: var(--color-green);
    background-color: white;
}

article a{
    border: 0.08em solid var(--color-green);
    transition: 300ms;
}

.bar hr{
    margin: 2em auto;
    width:80%;
    height: 0.3125em;
    background-color:#C4C4C4;
}

@media only screen and (max-width:990px){
    article .part_1,
    article .part_2,
    article .part_3{
        flex-direction: column;
        height: auto;
        width: 50%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    article{
        display: flex;
        justify-content: center;
        align-items: center;
        /* align-self: center; */
    }

.text_1 h2,
.text_2 h2,
.text_3 h2{
    padding-bottom: 1em;
}

.text_1 p,
.text_2 p,
.text_3 p{
    padding-bottom: 1em;
}
    article .text_1,
    article .text_2,
    article .text_3{
        margin: 0;
}

article img{
    padding-bottom: 1em;
}



}

@media only screen and (max-width: 768px){

article img{
    width: 60%;
    height: auto;
}

article .text_1 p,
article .text_2 p,
article .text_3 p{
    font-size: 0.9em;
}
article .text_1 h2,
article .text_2 h2,
article .text_3 h2{
    font-size: 1.2em;
}

article .text_1 a,
article .text_2 a,
article .text_3 a{
    font-size: 0.9em;
}


}

@media only screen and (max-width: 480px){

    article img{
        width: 50%;
        height: auto;
    }
    
    article .text_1 p,
    article .text_2 p,
    article .text_3 p{
        font-size: 0.7em;
    }

    article .text_1 h2,
    article .text_2 h2,
    article .text_3 h2{
        font-size: 1em;
    }
    
    article .text_1 a,
    article .text_2 a,
    article .text_3 a{
        font-size: 0.55em;
    }

    }



