
    /* P A R T E  1 */



article .container_1{
    margin-bottom: 6.9375em;
}


article .container_1 h1{
    text-align: center;
    font-size: 2.725em;
    color: var(--color-pink);
}
article .container_1 p{
    text-align: center;
    font-weight: 300;
    font-size: 1.125em;
    margin: 0 12.75em;
    text-align: left;
}

article .container_1 span.date_text p{
    text-align: center;
}

article .container_1 h2{
    margin-top: 3em;
    text-align: center;
}

article .container_1 img{
    display: block;
    margin: 0 auto;
    margin-bottom: 4em;
}


        /* P A R T E  2 */

#acabamento{
    margin-left: 3.2em;
}

#background{
    background-color:#F6F6F6;
}

section h2{
    color: var(--color-pink);
    font-size: 3.125em;
    text-align: center;
    font-weight: 500;
    padding-top: 1.9375em;
}

section .container_2{
    background-color: var(--color-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6.8125em;
    padding-bottom: 7.4375em;
}

section .part_2 h2{
    font-size: 1.5625em;
    color: var(--color-pink);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    
}

section .part_2 p{
    text-align: center;
    margin-bottom: 0.6em;
}

section .part_2 img{
    margin-left: 1.5625em;
}

section .part_2 a{
    text-decoration: none;
    color: white;
    border-radius: 3.875em;
    background-color: var(--color-pink);
    padding: 0.7em 2em;
    border: 0.125em solid var(--color-pink);
}

section .part_2 a:hover{
    color: var(--color-pink);
    background-color: var(--color-gray);
}


section .part_2 span{
    display: flex;
    justify-content: center;
}


/* M E D I A  Q U E R I E S  */

@media only screen and (max-width:1050px){

    article .container_1 img{
        height: auto;
        width: 90%;
    }

}

@media only screen and (max-width:940px){

    section .container_2{
        flex-direction: column;
    }

    section .container_2 span a{
        margin-bottom: 4em;
        margin-top: 2em;
    }

    section .container_2 h2{
       padding-top: 1.2em;
    }

}

@media only screen and (max-width:768px){

    article .container_1 p{
        font-size: 0.9em;
    }


}


@media only screen and (max-width:550px){

    article .container_1 p{
        font-size: 0.7em;
        /* margin-left: -0.2em;
        margin-right: -0.2em; */
        margin: 0;
        padding: 0 2em;
    }
    
    article .container_1 h2{
        font-size: 1.7em;
    }

}